.main-header__logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.main-header {
  height: 56px;
  position: relative;
  z-index: 1;
}

.main-header--show .main-nav {
  display: block;
}

.main-header--show .toggle {
  background-image: url("../img/icon-cross.svg");
}
